<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Web Scraping Experts</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="contactus.css">
</head>
<body>
    <nav>
        <h1 class="heading">Contact Web Scraping Experts</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li ><a style="background-color: rgb(172, 218, 218)" href="contactus.html">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        <section class="contact">
            <h2>Contact Information</h2>
            <p>If you have any questions or need to get in touch with us, please use the following contact information:</p>
            <p>Email: <a href="mailto:saidikkatwar@gmail.com">comparepal@gmail.com</a></p>
        </section>
        <br><br>
        <section class="contact-from">
            <h2>Contact Form</h2><br>
            <p>You can also reach out to us using the contact form below:</p>
            <br>
            <form class="forms" action="submit_form.php" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button value="submit">Submit</button>
            </form>
            <footer>
                <p class="pp">&copy; 2023 Web Scraping Experts</p>
            </footer>
        </section>
    </main>
    
</body>
</html>