$background: radial-gradient(900px,#a7a7a7,580px, #c12ac3,#4c4c4c) ;
$background2: radial-gradient(900px,#868686,480px, #02d9ff,#868686);
$background3: radial-gradient(circle at top,#c12ac3 22%, transparent),radial-gradient(circle at bottom,#0bd4f7 22%,#868686);
// *{
//     width:100vw;
//     height:100vh;
//     box-sizing: border-box;
// }

#headpagemain{
    display:flex;
    height: 100vh - 4vh;
    background-attachment:scroll;
    align-items:center;
    justify-content:flex-end;
}
.maincard{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:85%;
    height:55vh;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    color:rgb(0, 0, 0);
    background-image: radial-gradient(900px,#949292,470px, #ed32f0,#656565);
    border-radius:30px;
}

.maincard{
    h1{
        font-size:60px;
    }
    p{
        font-size:35px;
    }
}

// .maincard:hover{
//     background-image: radial-gradient(650px,#424141,400px, #d12dd3,#424141);
// }
#hiddenMenu{
    color:white;
    font-size:1.4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    padding:10px;
    background-color:#00000038;
    width:90%;
    height:45%;
    border:#00000050 3px solid;
    overflow:hidden;
    z-index:3;
    margin-right:10%;
    display:block;
    ul{
        list-style-type: none;
    }
    li{
        margin:15px 0px 15px;
    }
}
#overall{
    display:grid;
    width:100%;
    background-image: $background;
    grid-template-columns:80% 20%;
    grid-template-rows:100%;
    column-gap:10px;
}