@use 'headpage' as hp;

.root{
    width:100%;
    height:100vh;
    background-image:hp.$background3;
    display:flex;
    align-items:center;
    justify-content:center;
}

.card{
    width:33%;
    min-height:45%;
    background-color:#ffffff2a;
    border-radius:30px;
    padding:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    .title{
        text-align:center;
        color:white;
        font-size:2em;
        font-weight:bold;
    }
    .img{
        padding:20px;
    }
}

.card:hover{
    box-shadow:4px 4px 0 0 white;
}